In [4]:
import pandas as pd 
import numpy as np

df = pd.read_csv('Tweets.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
tweet_id                        14640 non-null int64
airline_sentiment               14640 non-null object
airline_sentiment_confidence    14640 non-null float64
negativereason                  9178 non-null object
negativereason_confidence       10522 non-null float64
airline                         14640 non-null object
airline_sentiment_gold          40 non-null object
name                            14640 non-null object
negativereason_gold             32 non-null object
retweet_count                   14640 non-null int64
text                            14640 non-null object
tweet_coord                     1019 non-null object
tweet_created                   14640 non-null object
tweet_location                  9907 non-null object
user_timezone                   9820 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [7]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [11]:
is_positive = df['airline_sentiment'].str.contains("positive")  #Identifying the rows in the dataset that contains the
is_negative = df['airline_sentiment'].str.contains("negative")  #string 'positive' and storing it to the variable is_positive
is_neutral = df['airline_sentiment'].str.contains("neutral")

In [24]:
positive_tweets = df[is_positive] #Categorizing the dataset into 3 categories of 'positive_tweets','negative_tweets' and 'neutral_tweets'
positive_tweets.shape

(2363, 15)

In [25]:
negative_tweets = df[is_negative]
negative_tweets.shape

(9178, 15)

In [26]:
neutral_tweets = df[is_neutral]
neutral_tweets.shape

(3099, 15)

In [28]:
worst_airline = negative_tweets[['airline','airline_sentiment_confidence','negativereason']]  #taking only 3 main features
cnt_worst_airline = worst_airline.groupby('airline', as_index=False).count()
cnt_worst_airline.sort_values('negativereason', ascending=False) #ranking for worst airlines and most negativereasons

          airline  airline_sentiment_confidence  negativereason
4          United                          2633            2633
3      US Airways                          2263            2263
0        American                          1960            1960
2       Southwest                          1186            1186
1           Delta                           955             955
5  Virgin America                           181             181

In [29]:
best_airline = positive_tweets[['airline','airline_sentiment_confidence']]
cnt_best_airline = best_airline.groupby('airline', as_index=False).count()
cnt_best_airline.sort_values('airline_sentiment_confidence', ascending=False) #ranking for best airlines and best airline_sentiment_confidence

          airline  airline_sentiment_confidence
2       Southwest                           570
1           Delta                           544
4          United                           492
0        American                           336
3      US Airways                           269
5  Virgin America                           152

In [33]:
motivation = negative_tweets[['airline','negativereason']]  # Create the rank for negative reason
cnt_bad_flight_motivation = motivation.groupby('negativereason', as_index=False).count()
cnt_bad_flight_motivation.sort_values('negativereason', ascending=False)

                negativereason  airline
9                    longlines      178
8                 Lost Luggage      724
7                  Late Flight     1665
6      Flight Booking Problems      529
5  Flight Attendant Complaints      481
4              Damaged Luggage       74
3       Customer Service Issue     2910
2             Cancelled Flight      847
1                   Can't Tell     1190
0                   Bad Flight      580

In [36]:
# we discover that the most important reason for bad flight is due to a customer service… not so good for the companies…

import nltk

In [38]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /home/hersh/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [39]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /home/hersh/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [40]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [42]:
useless_words = nltk.corpus.stopwords.words("english") + list(string.punctuation)

In [43]:
def build_bag_of_words_features_filtered(words):
    return {
        word:1 for word in words \
        if not word in useless_words
        }

In [44]:
tokenized_negative_tweets = []
for text in negative_tweets['text']:
        tokenized_negative_tweets.append(nltk.word_tokenize(text))

In [46]:
negative_features = [
    (build_bag_of_words_features_filtered(text), 'neg') \
    for text in tokenized_negative_tweets
]

In [90]:
tokenized_positive_tweets = []   #positive features
for text in positive_tweets['text']:
        tokenized_positive_tweets.append(nltk.word_tokenize(text))

In [50]:
positive_features = [
    (build_bag_of_words_features_filtered(text), 'pos') \
    for text in tokenized_positive_tweets
]

In [88]:
# for neutral features
tokenized_neutral_tweets = []
for text in neutral_tweets['text']:
        tokenized_neutral_tweets.append(nltk.word_tokenize(text))

In [89]:
neutral_features = [
    (build_bag_of_words_features_filtered(text), 'neu') \
    for text in tokenized_neutral_tweets
]

In [54]:
#training the classifier
from nltk.classify import NaiveBayesClassifier

In [55]:
len(negative_features)

9178

In [56]:
len(positive_features)

2363

In [57]:
#taking only first 2000 features of both negative and positive features
split = 2000

In [58]:
sentiment_classifier = NaiveBayesClassifier.train(positive_features[:split]+negative_features[:split])

In [59]:
nltk.classify.util.accuracy(sentiment_classifier, positive_features[:split]+negative_features[:split])*100 #accuracy on training data

95.95

In [60]:
#testing on remaining 363 features 
positive_features_verify = positive_features[split:]
negative_features_verify = negative_features[split:2363]

In [62]:
nltk.classify.util.accuracy(sentiment_classifier, positive_features_verify+negative_features_verify)*100 #accuracy on test data

86.36363636363636

In [63]:
#Sentiment on bad flight motivation
is_costumer_service_issue = negative_tweets['negativereason'].str.contains("Customer Service Issue")
costumer_service_issue = negative_tweets[is_costumer_service_issue]
costumer_service_issue.shape

(2910, 15)

In [86]:
tokenized_costumer_service_issue = []
for text in costumer_service_issue['text']:
        tokenized_costumer_service_issue.append(nltk.word_tokenize(text))

In [87]:
costumer_service_issue_features = [                                    #extracting negative featuers from tokenized words
    (build_bag_of_words_features_filtered(text), 'service_issue') \
    for text in tokenized_costumer_service_issue
]

In [70]:
is_late_flight = negative_tweets['negativereason'].str.contains("Late Flight")
late_flight = negative_tweets[is_late_flight]
late_flight.shape

(1665, 15)

In [71]:
tokenized_late_flight = []
for text in late_flight['text']:
        tokenized_late_flight.append(nltk.word_tokenize(text))

In [72]:
late_flight_features = [
    (build_bag_of_words_features_filtered(text), 'late_flight') \
    for text in tokenized_late_flight
]

In [73]:
is_cant_tell = negative_tweets['negativereason'].str.contains("Can't Tell")
cant_tell = negative_tweets[is_cant_tell]
cant_tell.shape

(1190, 15)

In [74]:
test = is_costumer_service_issue | is_late_flight 
others = negative_tweets[~test]
others.shape

(4603, 15)

In [76]:
tokenized_other = []
for text in others['text']:
        tokenized_other.append(nltk.word_tokenize(text))

In [77]:
other_features = [
    (build_bag_of_words_features_filtered(text), 'other') \
    for text in tokenized_other
]

In [78]:
#taking only first 1000 features of all three types for training bad_cause_classifier
split = 1000

In [80]:
bad_cause_classifier = NaiveBayesClassifier.train(costumer_service_issue_features[:split]+late_flight_features[:split]+other_features[:split])

In [82]:
#accuracy on training dataset
nltk.classify.util.accuracy(bad_cause_classifier, costumer_service_issue_features[:split]+late_flight_features[:split]+other_features[:split])*100

94.83333333333334

In [83]:
#taking more 400 features for testing the classifier
costumer_service_verify = costumer_service_issue_features[split:1400]
late_flight_verify = late_flight_features[split:1400]
others_verify = other_features[split:1400]

In [85]:
#accuracy on test dataset
nltk.classify.util.accuracy(bad_cause_classifier, costumer_service_verify+late_flight_verify+others_verify)*100

69.0